<div class="flex h-full flex-row items-center justify-between">
  <div><a href="/">Chess Game</a></div>
  <div class="flex gap-3">
    <div><a href="/">Home</a></div>
    <div><a href="/online">Online</a></div>
    <div><a href="/local">Lokalnie</a></div>
  </div>
</div>
