---
import MainLayout from "../layouts/main-layout.astro";
import LoginForm from "../components/login/Form";

if (Astro.cookies.get("token") !== undefined) {
  return Astro.redirect("/");
}

---

<MainLayout title="Logowanie">
  <div class="flex flex-col">
    <h2>Zaloguj się</h2>
    <LoginForm client:load />
  </div>
</MainLayout>