---
import MainLayout from "../layouts/main-layout.astro";
import LoginForm from "../components/login/Form";
export const prerender = true;

if (Astro.cookies.get("token") !== undefined) {
  return Astro.redirect("/");
}
---

<MainLayout title="Logowanie">
  <div class="flex flex-col">
    <h2>Zaloguj się</h2>
    <LoginForm client:load />
    <a href="/register">Nie masz konta? Załóż konto</a>
  </div>
</MainLayout>
