---
import GameInviteLinkButton from "../components/online/new-game-invite-link/GameInviteLinkButton";
import PlayerGameList from "../components/online/player-game-list/PlayerGameList.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Online">
  <div class="pt-3">
    <GameInviteLinkButton client:only />
  </div>
  <PlayerGameList
    endIdx={9}
    headerText="Twoje gry:"
    loadMoreOnScroll={true}
    addStyles="py-3"
  />
</MainLayout>
