---
import { type GetDBGameInvite } from "../../db/types";
import GameInviteIndex from "./GameInviteIndex";

interface Props {
  gameInvites: GetDBGameInvite[];
}
const { gameInvites } = Astro.props;
---

<div>
  <h3 class="mb-3 text-xl">Zaproszenia do gier</h3>
  <div
    class="flex h-[200px] flex-row gap-2 overflow-x-auto overflow-y-hidden sm:h-[250px]"
  >
    {
      gameInvites.map((invite) => (
        <GameInviteIndex client:only gameInvite={invite} />
      ))
    }
  </div>
</div>
