.piece {
  position: absolute;
  width: var(--pieceSize);
  height: var(--pieceSize);
  background-size: 100%;
  background-position: center;
  transition: all var(--transitionDuration) ease-in; /* --transitionDuration set in script*/
  z-index: 1;
}

.piece.grab {
  cursor: grab;
}

#move-mouse {
  cursor: grabbing;
  z-index: 10;
}

#move-touch {
  width: var(--pieceMoveTouchSize);
  height: var(--pieceMoveTouchSize);
  z-index: 10;
  position: absolute;
}

.w-pawn {
  background-image: url(../.././images/w-pawn.png);
}

.w-rook {
  background-image: url(../.././images/w-rook.png);
}

.w-knight {
  background-image: url(../.././images/w-knight.png);
}

.w-bishop {
  background-image: url(../.././images/w-bishop.png);
}

.w-queen {
  background-image: url(../.././images/w-queen.png);
}

.w-king {
  background-image: url(../.././images/w-king.png);
}

.b-pawn {
  background-image: url(../.././images/b-pawn.png);
}

.b-rook {
  background-image: url(../.././images/b-rook.png);
}

.b-knight {
  background-image: url(../.././images/b-knight.png);
}

.b-bishop {
  background-image: url(../.././images/b-bishop.png);
}

.b-queen {
  background-image: url(../.././images/b-queen.png);
}

.b-king {
  background-image: url(../.././images/b-king.png);
}
