*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  background-color: #202225;
  color: black;
  --firstFieldColor: hsl(0, 0%, 100%);
  --secondFieldColor: hsl(190, 98%, 24%);
  --fieldBoxShadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --arrowBgColor: hsla(16, 100%, 50%, 0.9);
  --popupColor: hsl(60, 56%, 91%);

  --fieldSize: 100%; /* set in a script*/
  --possMoveSize: 100%; /* set in a script*/
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  position: relative;
}

.board-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
  width: 750px; 
  height: 750px;
}

.boardFieldsContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.boardFieldsContainer, .boardPiecesContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.field {
  box-shadow: var(--fieldBoxShadow);
  position: relative;
}

.field1 {
  background-color: var(--firstFieldColor);
}

.field2 {
  background-color: var(--secondFieldColor);
}

.piece {
  position: absolute;
  width: var(--fieldSize);
  height: var(--fieldSize);
  cursor: grab;
  background-size: var(--fieldSize);
  background-position: center;
}

#fieldHighlightedUnderMovingPiece {
  box-shadow: 
    inset 0 0 20px 5px green,
    0 0 10px 0 green;
}

.highlighted {
  background-color: hsla(0, 100%, 50%, 0.9) !important;
  }

.possMove {
  border-radius: 50%;
  width: var(--possMoveSize);
  height: var(--possMoveSize);
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.possMoveCapture {
  background-color: rgba(0, 255, 13, 0.75) !important;
  box-shadow: 0 0 10px black;
  z-index: 10;
}

.possMoveStart {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

#move {
  cursor: grabbing;
}

.arrowContainer {
  pointer-events: none;
  --rotationDeg: ; /* set in a script*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotationDeg));
  z-index: 100;
}

.arrowTail {
  --halfOfFieldSize: ;  /* set in a script*/
  background-color: var(--arrowBgColor);
  position: absolute;
  bottom: 50%;
  left: var(--halfOfFieldSize);
  transform: translateY(50%);
}

.arrowHead {
  --headHeight: ; /* set in a script*/
  position: absolute;
  left: var(--headHeight);
  bottom: 50%;
  transform: translateY(50%);
  overflow: hidden;
}

.arrowHead::after {
  content: "";
  height: 95%;
  width: 95%;
  position: absolute;
  background-color: var(--arrowBgColor);
  left: -75%;
  /* left: -65%; */
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}

.promotePopup {
  --widthOfFiveFields: ; /* set in a script*/
  --widthOfThreeFields: ; /* set in a script*/
  --quarterOfField: ; /* set in a script*/
  width: var(--widthOfFiveFields);
  height: var(--widthOfThreeFields);
  padding-inline: var(--quarterOfField);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--popupColor);
  display: flex;
  gap: var(--quarterOfField);
  align-items: center;
  justify-content: center;
  box-shadow: var(--fieldBoxShadow);
}

.promotePopup > div {
  box-shadow: var(--fieldBoxShadow);
}

.promotePopup > div:hover {
  box-shadow: 
  inset 0 0 20px 5px green,
  0 0 10px 0 green;
}

.promoteOption {
  width: var(--fieldSize);
  height: var(--fieldSize);
  cursor: pointer;
  background-size: var(--fieldSize);
  background-position: center;
}