---
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout title="Gra lokalna">
	<div class="container" data-container></div>
</MainLayout>

<script>
  import { startGame } from "../../app";
  startGame("[data-page-container]");
</script>