---
import GameInviteLink from "../../components/game-invite-link/GameInviteLink";
import getGameInviteLinkData from "../../db/game-invite-link/getGameInviteLink";
import getGameResInviteLinkData from "../../db/game-invite-link/getGameResInviteLink";
import isGameInviteLinkValid from "../../db/game-invite-link/isGameInviteLinkValid";
import GameLayout from "../../layouts/game-layout.astro";
import type { LangDicts } from "../../scripts/chess-classes/board/view/BoardView";

if (Astro.locals.user === undefined) {
  // should not happen as this is a protected route
  return new Response(null, { status: 500 });
}

const displayId = Astro.params.displayId as string;
const resGameInviteLinkData = await getGameResInviteLinkData(displayId);

if (resGameInviteLinkData === null) {
  return new Response(null, { status: 404, statusText: "Not found" });
}
const gameInviteLinkData = await getGameInviteLinkData(
  resGameInviteLinkData.id
);
const responseOrIsValid = await isGameInviteLinkValid(
  gameInviteLinkData,
  Astro.locals.user.id
);

if (responseOrIsValid !== true) {
  return responseOrIsValid;
}
const LDReceive = Astro.locals.langDict["game_invite_receive"];
const langDicts: LangDicts = {
  gameDict: Astro.locals.langDict["local"],
  gameEndPopupDict: Astro.locals.langDict["game_end_info"],
};
console.log(langDicts);
// Pass the language dictionary to a div data attribute to get it on the client side.
---

<GameLayout title="Link z zaproszeniem">
  <div data-lang-dict={JSON.stringify(langDicts)}></div>
  <GameInviteLink
    gameInviteLinkData={resGameInviteLinkData}
    langDict={LDReceive}
    client:load
  />
</GameLayout>

<script>
  import type { LangDicts } from "../../scripts/chess-classes/board/view/BoardView";
  import { initGameLocal } from "../../scripts/initLocalGame";
  initTempGame();

  function initTempGame() {
    const dataDiv = document.querySelector<HTMLDivElement>("[data-lang-dict]");
    const langDicts: LangDicts = JSON.parse(
      dataDiv?.dataset["langDict"] as string
    );
    console.log(langDicts);
    dataDiv?.remove();
    const match = initGameLocal("[data-page-container]", langDicts);
    match.end();
  }
</script>
