---
import ButtonSecondary from "../components/buttons/ButtonSecondary";
import PlayerGameList from "../components/online/player-game-list/PlayerGameList.astro";
import getGameInvites from "../db/game-invite/getGameInvites";
import MainLayout from "../layouts/main-layout.astro";
import GameInvites from "../components/index/GameInvites";

const isAuth = Astro.locals.user !== undefined;
const gameInvites =
  Astro.locals.user !== undefined
    ? await getGameInvites(Astro.locals.user.id)
    : null;
---

<MainLayout title="Home">
  <div class="flex h-full flex-col gap-3">
    <h1 class="mb-3 text-center font-poppins text-2xl">
      Życie jest jak szachy
    </h1>
    {
      isAuth ? (
        <div class="flex flex-col gap-4">
          {gameInvites !== null && gameInvites.length > 0 && (
            <GameInvites gameInvites={gameInvites} client:only />
          )}
          <PlayerGameList
            endIdx={4}
            headerText="Twoje gry:"
            loadMoreOnScroll={false}
            headerLink="/online"
          />
        </div>
      ) : (
        <div class="absolute left-1/2 top-1/2 flex w-max max-w-[98vw] -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center gap-2 rounded-md bg-bg2 px-1 py-2 shadow-md sm:px-6 sm:py-6 md:px-12">
          <div class="px-2 pb-2 text-center text-lg">
            Wygląda na to, że nie jesteś zalogowan_
          </div>
          <div class="flex flex-col items-center justify-center gap-1">
            <a href="/login">
              <ButtonSecondary textContent="Zaloguj się lub zarejestruj, by zagrać online" />
            </a>
            <div>lub</div>
            <a href="/local">
              <ButtonSecondary textContent="Zagraj grę lokalną" />
            </a>
          </div>
        </div>
      )
    }
  </div>
</MainLayout>
