---
import GameLayout from "../layouts/game-layout.astro";
import { type LangDicts } from "../scripts/chess-classes/board/view/BoardView";

const langDicts: LangDicts = {
  gameDict: Astro.locals.langDict["local"],
  gameEndPopupDict: Astro.locals.langDict["game_end_info"],
};
// Pass the language dictionary to a div data attribute to get it on the client side.
---

<div data-lang-dict={JSON.stringify(langDicts)}></div>
<GameLayout title="Gra lokalna" />

<script>
  import type { LangDicts } from "../scripts/chess-classes/board/view/BoardView";
  import { initGameLocal } from "../scripts/initLocalGame";

  const dataDiv = document.querySelector<HTMLDivElement>("[data-lang-dict]");
  const langDicts: LangDicts = JSON.parse(
    dataDiv?.dataset["langDict"] as string
  );
  dataDiv?.remove();

  initGameLocal("[data-page-container]", langDicts);
</script>
