---
import MainLayout from "../layouts/main-layout.astro";
import LoginForm from "../components/login/Form";
import CookiesNames from "../utils/CookiesNames";
export const prerender = true;

if (Astro.cookies.get(CookiesNames.TOKEN_JWT) !== undefined) {
  return Astro.redirect("/");
}
---

<MainLayout title="Logowanie">
  <div class="flex flex-col justify-stretch gap-3">
    <LoginForm client:load />
    <a href="/register" class="text-center hover:underline"
      >Nie masz konta? Zarejestruj się</a
    >
  </div>
</MainLayout>
