---
import GameInviteLinkButton from "../components/online/new-game-invite-link/GameInviteLinkButton";
import PlayerGameList from "../components/online/player-game-list/PlayerGameList.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Online">
  <div class="flex flex-col">
    <div class="flex justify-center pt-3">
      <GameInviteLinkButton client:only />
    </div>
    <PlayerGameList endIdx={9} loadMoreOnScroll={true} addStyles="py-3" />
  </div>
</MainLayout>
