---
import MainLayout from "../layouts/main-layout.astro";
import RegisterForm from "../components/sign-up/Form";
import CookiesNames from "../utils/CookiesNames";

if (Astro.cookies.get(CookiesNames.TOKEN_JWT) !== undefined) {
  return Astro.redirect("/");
}
---

<MainLayout title="Logowanie">
  <div class="flex flex-col justify-stretch gap-3">
    <RegisterForm client:load />
    <a href="/sign-in" class="text-center hover:underline">
      Masz już konto? Zaloguj się
    </a>
  </div>
</MainLayout>
