---
import MainLayout from "../layouts/main-layout.astro";
import LoginForm from "../components/sign-in/Form";
import CookiesNames from "../utils/CookiesNames";

if (Astro.cookies.get(CookiesNames.TOKEN_JWT) !== undefined) {
  return Astro.redirect("/");
}
const LDSingIn = Astro.locals.langDict["sign_in"];
---

<MainLayout title={LDSingIn["page_title"]}>
  <div class="flex flex-col justify-stretch gap-3">
    <LoginForm langDict={LDSingIn} client:load />
    <a href="/sign-up" class="text-center hover:underline">
      {LDSingIn["no_account"]}
    </a>
  </div>
</MainLayout>
