---
import MainLayout from "../layouts/main-layout.astro";
import LoginForm from "../components/sign-in/Form";
import CookiesNames from "../utils/CookiesNames";

if (Astro.cookies.get(CookiesNames.TOKEN_JWT) !== undefined) {
  return Astro.redirect("/");
}
---

<MainLayout title="Logowanie">
  <div class="flex flex-col justify-stretch gap-3">
    <LoginForm client:load />
    <a href="/sign-up" class="text-center hover:underline">
      Nie masz konta? Zarejestruj się
    </a>
  </div>
</MainLayout>
