---
import MainLayout from "../layouts/main-layout.astro";
import RegisterForm from "../components/sign-up/Form";
import CookiesNames from "../utils/CookiesNames";

if (Astro.cookies.get(CookiesNames.TOKEN_JWT) !== undefined) {
  return Astro.redirect("/");
}
const LDSignUp = Astro.locals.langDict["sign_up"];
---

<MainLayout title={LDSignUp["page_title"]}>
  <div class="flex flex-col justify-stretch gap-3">
    <RegisterForm langDict={LDSignUp} client:load />
    <a href="/sign-in" class="text-center hover:underline">
      {LDSignUp["account_made"]}
    </a>
  </div>
</MainLayout>
