*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  background-color: #202225;
  color: black;
  --firstFieldColor: hsl(0, 0%, 100%);
  --secondFieldColor: hsl(190, 98%, 24%);
  --fieldBoxShadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --arrowBgColor: hsla(16, 100%, 50%, 0.9);
  --popupColor: hsl(60, 56%, 91%);

  --fieldSize: 100%; /* set in a script*/
  --possMoveSize: 100%; /* set in a script*/
  --possMoveStartSize: 100%; /* set in a script*/
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  position: relative;
}

.board-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.596);
  width: 750px; 
  height: 750px;
}

.board-fields-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.board-fields-container, .board-pieces-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.field {
  box-shadow: var(--fieldBoxShadow);
  position: relative;
}

.field1 {
  background-color: var(--firstFieldColor);
}

.field2 {
  background-color: var(--secondFieldColor);
}

.piece {
  --transitionDuration: 0; /* set in script*/
  position: absolute;
  width: var(--fieldSize);
  height: var(--fieldSize);
  cursor: grab;
  background-size: var(--fieldSize);
  background-position: center;
  transition: all var(--transitionDuration) ease-in;
  z-index: 1;
}

#field-heighlighted-under-moving-piece {
  box-shadow: 
    inset 0 0 20px 5px hsl(120, 100%, 25%),
    0 0 10px 0 hsl(120, 100%, 25%);
}

.king-check::before {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255,0,0,0.8239670868347339) 0%, rgba(255,0,0,0.7819502801120448) 31%, rgba(0,0,0,0) 100%);
}

.highlighted-field {
  background-color: hsla(0, 100%, 50%, 0.9) !important;
}

.poss-move {
  border-radius: 50%;
  width: var(--possMoveSize);
  height: var(--possMoveSize);
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.poss-move-capture {
  background-color: rgba(0, 255, 13, 0.75) !important;
  box-shadow: 0 0 10px black;
  z-index: 10;
}

.poss-move-start {
  width: var(--possMoveStartSize);
  height: var(--possMoveStartSize);
}

#move:hover {
  cursor: grabbing;
  z-index: 10;
}

.arrow-container {
  pointer-events: none;
  --rotationDeg: ; /* set in a script*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotationDeg));
  z-index: 100;
}

.arrow-head {
  --headHeight: ; /* set in a script*/
  position: absolute;
  left: var(--headHeight);
  bottom: 50%;
  transform: translateY(50%);
  overflow: hidden;
}

.arrow-tail {
  --halfOfFieldSize: ;  /* set in a script*/
  background-color: var(--arrowBgColor);
  position: absolute;
  bottom: 50%;
  left: var(--halfOfFieldSize);
  transform: translateY(50%);
}

.arrow-head::after {
  content: "";
  height: 95%;
  width: 95%;
  position: absolute;
  background-color: var(--arrowBgColor);
  left: -75%;
  /* left: -65%; */
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}

.promote-popup {
  --widthOfFiveFields: ; /* set in a script*/
  --widthOfThreeFields: ; /* set in a script*/
  --quarterOfField: ; /* set in a script*/
  width: var(--widthOfFiveFields);
  height: var(--widthOfThreeFields);
  padding-inline: var(--quarterOfField);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--popupColor);
  display: flex;
  gap: var(--quarterOfField);
  align-items: center;
  justify-content: center;
  box-shadow: var(--fieldBoxShadow);
  z-index: 3;
}

.promote-popup > div {
  box-shadow: var(--fieldBoxShadow);
}

.promote-popup > div:hover {
  box-shadow: 
  inset 0 0 20px 5px green,
  0 0 10px 0 green;
}

.promote-option {
  width: var(--fieldSize);
  height: var(--fieldSize);
  cursor: pointer;
  background-size: var(--fieldSize);
  background-position: center;
}

.w-pawn {
  background-image: url(./images/pawnW.png);
}

.w-rook {
  background-image: url(./images/rookW.png);
}

.w-knight {
  background-image: url(./images/knightW.png);
}

.w-bishop {
  background-image: url(./images/bishopW.png);
}

.w-queen {
  background-image: url(./images/queenW.png);
}

.w-king {
  background-image: url(./images/kingW.png);
}

.b-pawn {
  background-image: url(./images/pawnB.png);
}

.b-rook {
  background-image: url(./images/rookB.png);
}

.b-knight {
  background-image: url(./images/knightB.png);
}

.b-bishop {
  background-image: url(./images/bishopB.png);
}

.b-queen {
  background-image: url(./images/queenB.png);
}

.b-king {
  background-image: url(./images/kingB.png);
}