---
import Nav from "../components/nav/Nav.astro";
import "../styles/styles.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const LDNav = Astro.locals.langDict["navbar"];
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="absolute left-0 top-0 h-full min-h-[100vh] overflow-x-hidden text-base"
  >
    <div class="flex min-h-full w-full flex-col items-center bg-bg1 text-text1">
      <Nav langDict={LDNav} />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
