@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  background-color: hsl(216, 7%, 14%);
  color: hsl(0, 0%, 0%);
  font-size: clamp(10px, 3vw, 20px);

}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

